body {
  background-color: #121212 !important;
  color: white;
}

.search-card {
  width: 50%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: #292929 !important;
  color: white;
}

.card-item {
  width: 200px;
  border-radius: 10px;
  margin: 25px;
  padding: 15px;
  background-color: #292929 !important;
}
.row input {
  width: 80%;
  margin-right: 15px;
  margin-left: 15px;
}

#items-container {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  flex-flow: row wrap;
}
